.CartContainerFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ItemCartContainer{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: black;
    border: 2px solid white;
    height: auto;
    width: 400px;
    border-radius: 2%;
}

.ItemCartContainer img{
    object-fit: contain;
    height: auto;
    width: auto;
}

.PagoFinal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.PagoFinal h3{
    font-size: 30px;
}