.NavBar{
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.NavBar h3{
        color: white;
        font-size: 50px;
        text-decoration: none;
        transition: 1s;
}

.NavBar h3:hover{
    transform: scale(1.10);
}

.Categories{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Categories a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    margin: 8px;
    text-decoration: none;
    color: white;
    transition: 1s;
}

.Categories a:hover{
    transform: scale(1.05);
}

header nav ul li a{
    text-decoration: none;
    color: white;
}

.LinkGolf{
    text-decoration: none;
}
